* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

div {
    display: block;
}

.paymentDiv {
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(rgb(247, 247, 247), rgb(211, 211, 211), rgb(179, 178, 178));
    font-size: large;
    margin: 0 auto;
    width: 1100px;
    height: auto;
}

.paymentHeader {
    padding: 18px;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: bold;
    text-align: center;
}

.paymentMain{
    
}

.paymentDetails {
    margin: 0 auto;
    width: 1100px;
    height: auto;
    /*border: 1px solid rgb(163, 163, 163);
    border-radius: 15px;*/
}

.paymentTableRecurring {
    float: right;
    padding: 150px 25px 0 0;
}

.paymentTableRight {
    z-index: 1;
}

.paymentDetails tr {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 0 0 0 25px;
}

.paymentDetails td {
    min-width: 150px;
    user-select: auto;
}

.paymentDetails .column2 {
    padding-left: 30px;

}

.paymentDetails select {
    user-select: none;
    min-width: 300px;
    min-height: 30px;
}

#paymentIDAmount,
#paymentIDRemarks {
    min-width: 300px;
    min-height: 30px;
    padding-left: 30px;
}

.paymentLabel,
#paymentInputList {
    font-family: 'Roboto';
    font-size: 20px;
    cursor: pointer;
}

.paymentTransferFrom {
    width: 50px;
}

.paymentTransferFrom .paymentAddBalance {
    display: inline;
    position: absolute;
    margin-left: 20px;
    padding: 3px 30px;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: bold;
    background-color: #d61212;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    min-width: max-content;
    text-align: center;
}

.paymentTransferFrom .paymentAddBalance span {
    color: aquamarine;
    font-size: 25px;
}

.paymentTransferFrom .addCashDepositPopup {
    display: inline;
    text-align: center;
    width: fit-content;
    vertical-align: middle;
}

.paymentTransferFrom .addCashDepositPopup input {
    margin-left: 15px;
    padding-left: 10px;
    width: 175px;
}

.paymentTransferFrom .addCashDepositPopup-button {
    margin-top: 25px;
}

.paymentTransferFrom .addCashDepositPopup-button button {
    margin: 0 25px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    font-family: 'Ubuntu';
    font-weight: bold;
    background-color: #d61212;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

input[type="radio"] {
    margin-left: 0;
}

#paymentIDFreqRecurring {
    padding-left: 25px;
    gap: 2px;
}

.paymentFreq {
    margin-left: 15px;
}

/*Make Payment*/
.paymentMakePayment {
    display: flex;
    justify-content: center;
    padding: 25px;
}

#paymentIDMakePayment {
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: bold;
    background-color: #d61212;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}