* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    background: rgb(250, 250, 250);
}

div {
    display: block;
}

.userDetails {
    display: flex;
    justify-content: center;
}

.userDetailsDiv {
    min-width: 50vw;
    /*60% of viewport's width*/
    height: auto;
}

.userDetailsHeaderDiv {
    border: 1px solid black;
    border-radius: 15px;
    background-image: linear-gradient(rgb(247, 247, 247), rgb(211, 211, 211), rgb(179, 178, 178));
    font-size: large;
    margin: 0 auto;
    min-width: 50vw;
    /*60% of viewport's width*/
    height: auto;
}

.userDetailsHeader {
    padding: 18px;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: bold;
    text-align: center;
}


.usersList{
    overflow-y: auto;
}

.usersListDisplay {
    border: 1px solid lightgrey;
    border-radius: 15px;
    font-size: large;
    margin: 0 auto;
    min-width: fit-content;
    max-width: 100%;
    height: auto;
    padding: 15px 40px;
}

.usersListDisplay p span {
    padding-left: 20px;
}

.usersListDisplay p {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 5px 0;
}

.usersListDisplay button {
    margin-left: 75%;
    position: absolute;
    margin-top: -75px;
    padding: 10px 25px;
    font-size: 18px;
    font-family: 'Ubuntu';
    font-weight: bold;
    background-color: #d61212;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    min-width: fit-content;
}

/*-------------------
-------Footer-------
-------------------*/
.footerText {
    font-family: 'Handlee';
}


/*-------------------
-------General-------
-------------------*/
ul,
li {
    border: 0 none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-right ul li a {
    color: #00223d;
    display: block;
    padding: 50px 5px 0 5px;
    text-decoration: none;
    float: none;
}

.float-left {
    float: left;
}

img {
    vertical-align: middle;
    border-style: none;
}

/*----------------------------------------*/





/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

.signinDetails {
    width: 100%;
    margin-bottom: 3px 1px;
    text-align: right;
    height: 16px;
    float: right;
    color: #666;
    padding: 2px 2px 0 0;
    font-size: .85em;
}

.mainNav ul li a span {
    display: block;
    float: left;
    height: 28px;
    padding: 9px 13px 0 8px;
}